* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
    background-color: green;
    font-size: large;
    background-size: 120px;
    color: white;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    border-color: black;
    background-color: red;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

figure:hover {
    background-color: greenyellow;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: black;
    text-decoration: none;
}


table tr:nth-child(2n) {
    background-color: lightgray;

}
